body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.venueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bookingContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .individualBooking {
  font-size: 15px;
} */

.matchedVenuesButton {
  margin-right: 181px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 177px;
  /* background-color: white; */
}

#searchBar {
  margin-right: 2px;
}

/* #dateInput {
  height: 22px;
}  */

#submitButton {
  color: white;
  background-color: black;
  margin-left: 2px;
  border-radius: 5px;
  font-weight: bold;
}